/*===========GLOBAL=============*/

:root{
    --primary-color: #BE3422;
    --primary-color-opaque: rgba(190, 52, 34, 0.397);
    --secondary-color: #641F16;
    --page-color: #FFFCF7;
    --text-color: #554742;
    --accent-color: #1A2969;
    --accent-color-opaque: rgba(26, 41, 105, 0.28);
    --accent-color-less-opaque: rgba(26, 41, 105, 0.58);
    --nav-link-size: 16px;
}

h1{
    font-family: 'Nobile', sans-serif;
    font-weight: 700;
}

h3{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 700;
}

h6{
    font-family: 'Playfair Display', serif;
    font-size: 21px;
    font-weight: 400;
}

body{
    margin: 0px;
    font-family: 'Antic Slab', serif;
    font-size: 18px;
}

li{
    font-size: var(--nav-link-size);
}


a{
    text-decoration: none;
    color: var(--primary-color)
}

section{
    height: 100vh;
    background: var(--page-color);
    padding: 0px 125px;
}

input{
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--secondary-color);
}

button{
    width: 75px;
    margin: 0 auto;
    height: 30px;
    text-align: center;
    background: var(--primary-color);
    color: white;
    border: none;
}

.section-header{
    text-align: center;
}
/*============== Site Navigation ==================*/


.site-nav{
    background: white;
    border-bottom: 2px solid var(--accent-color);
    margin-bottom: 0px;
}

.site-nav .toggle{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
}
.logo{
    text-align: center;
    align-self: center;
}
.logo img{
    width: 50%;
    margin: 0 auto;
}

.menu{
    padding: 0px;
    justify-self: left;
}

.menu li{
    display: inline;
    padding-right: 7px;
}

.social-media li{
    display: inline;
    font-size: 25px;
    padding-right: 25px;
    list-style-type: none;
}

#hero{
    background-image: url("../img/view-from-driveway.jpg");
    height: 95vh;
    background-size: cover;
}

#hero .text-container{
    width: 30%;
    height: 350px;
    padding: 28px 25px;
    color: white;
    background: var(--accent-color-less-opaque);
    position: absolute;
    display: grid;
    grid-template-rows: 2fr 1fr;
    left: 60%;
    top: 30%;
}

#hero .text-container h1{
    justify-self: center;
    align-self: end;
    align-self: end;
    text-align: center;
}
#hero .text-container a{
    color: white;
    text-align: center;
    justify-self: center;
}

/*===================TESTIMONIALS=================*/
#testimonials{
    height: 100vh;
}

#testimonials .section-header{
    margin-bottom: 50px;
}

#testimonials .container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 15px;
    align-content: center;
}

.testimonial{
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-column-gap: 25px;
    width: 100%;
}

.person{
    justify-self: right;
    align-self: center;
    width: 50%;
}

.person img{
    width: 100%;
}

.person .name{
    text-align: center;
    letter-spacing: 0px;
    word-spacing: 0px;
    font-size: 14px;
    margin: 0;
}

.review{
    align-self: center;
}

/*=================Tour / Gallery ==============*/
#tour{
    background: var(--primary-color);
}


/* Slideshow container */
.slideshow {
    max-width: 720px;
    position: relative;
    margin: auto;
}

.slideshow .fas{
    font-size: 4em;
    align-self: center;
}

*{box-sizing:border-box}


/* Hide the images by default */
.slides {
  display: none;
}

.slides img{
    width:100%;
    vertical-align: middle;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.slides .caption {
    position: relative;
    bottom: 29px;
    text-align: center;
    background: var(--accent-color-opaque);
    color: white;
    margin: 0;
    height: 30px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--page-color);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #1A2969;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/*==============About=========================*/
#about{
    background-image: url("../img/main-house-from-parking.png");
    height: 95vh;
    background-size: cover;
}

#about .text-container{
    width: 35%;
    height: 400px;
    padding: 28px 25px;
    color: white;
    background: var(--accent-color-less-opaque);
    position: absolute;
    left: 60%;
    top: 30%;
}

#about .text-container h1{
    justify-self: center;
    align-self: end;
    align-self: end;
    text-align: center;
}
/*===================Attractions========================*/

#attractions{
    height: 100vh;
    background-color: var(--primary-color);
    display: grid;
    align-content: center;
}

#attractions .container{
    display: grid;
    height: 50vh;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap:25px;
    grid-row-gap: 15px;
}

#attractions .title{
    margin-top: 0;
    color: var(--page-color);
    font-weight: 400;
    text-align: center;
}
#attractions img{
    width: 100%;
}

/*===============Contact=================*/
#contact{
    background-image: url("../img/main-house-from-parking.png");
    background-size: cover;
    color: white;
    display: grid;
    align-content: center;
    justify-content: center;
}

#contact .booking{
    width: 35vw;
    height: 575px;
    grid-row-gap: 15px;
    background: var(--accent-color-less-opaque);
    padding: 25px;
}

#contact .booking h1, p{
    margin: 0;
}

textarea{
    width: 100%;
    background: transparent;
    border: 1px solid var(--secondary-color);
    color: white;
    height: 200px;
    font-family: "Josefin Slab", serif;
    font-size: 16px;
}
/*===============Book ===============*/
#book-now{
    background-image: url("../img/great-room-main-house.jpg");
    background-size: cover;
    color: white;
    display: grid;
    align-content: center;
    justify-content: center;

}

#book-now .container{
    display: grid;
    height: 50%;
    justify-content: center;
    align-content: center;
}

.booking{
    width: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 0.5fr;
    grid-row-gap: 15px;
    background: var(--accent-color-opaque);
    padding: 25px;
}

::placeholder{
    color: white;
}

input[type=date]{
    color: white;
}

input{
    width: 100%;
}

.row-3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
}

.site-footer{
    background: white;
    height: 150px;
}

.site-footer .logo{
    align-self: center;
    width: 75%;
    margin: 0 auto;
}

.site-footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 50px;
    align-content: center;
}

.site-footer .menu li{
    display: block;
}